<div class="private-mode-view">
    <div *ngIf="userService.isPrivateModeOn; then exit_private_mode else enter_private_mode"></div>
    <ng-template #enter_private_mode>
        <div class="message-container lock-container">
            <span>Private Mode is Locked.</span>
        </div>
        <div>
            <input type="password" placeholder="Enter Password" [(ngModel)]="password" />
            <button class="btn" (click)="enterPrivateMode()">Enter Private Mode</button>
        </div>
    </ng-template>
    <ng-template #exit_private_mode>
        <div class="message-container unlock-container">
            <span>You're on Private Mode!</span>
        </div>
        <div>
            <button class="btn btn-lg" (click)="exitPrivateMode()">Exit Private Mode</button>
        </div>
    </ng-template>
</div>