<div *ngIf="cameraService.isCameraExist; else noCameraExist">
    <div class="camera-container">
        <div></div>
        <div>
            <webcam [height]="400" [width]="1000" [trigger]="cameraService.triggerObservable"
                (imageCapture)="handleImage($event)" *ngIf="cameraService.showWebcam"></webcam>
            <img [src]="cameraService.webcamImage.imageAsDataUrl" [height]="400"
                *ngIf="!cameraService.showWebcam && cameraService.webcamImage" />
        </div>
        <div class="column-wrapper">
            <div class="camera-button" (click)="cameraService.takeSnapshot()" *ngIf="!cameraService.webcamImage">
                <fa-icon [icon]="cameraIcon"></fa-icon>
            </div>
            <button class="btn" (click)="takeNewPicture()" *ngIf="cameraService.webcamImage">Try Again</button>
        </div>
    </div>

    <div *ngIf="cameraService.errors.length > 0">
        <h4>Error Messages:</h4>
        <ul *ngFor="let error of cameraService.errors">
            <li>{{ error | json }}</li>
        </ul>
    </div>
</div>

<ng-template #noCameraExist>
    Camera device not available
</ng-template>