.photos-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .photos-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.photo-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vmax;
}

.pexels-photo {
    height: 11vmax;
}

.pexels-photo:hover {
    opacity: 0.8;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.selected-photo {
    background-color: var(--primary);
    opacity: 0.5;
}

.photos-center {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}