<div class="details-container">
    <div *ngIf="isCaptionUnderEdition; then caption_edit_mode else caption"></div>
    <ng-template #caption>
        <div class="details-caption-container">
            <div class="details-caption">{{ editedImage.caption || defaultCaption }}</div>
            <fa-icon class="edit-logo" [icon]="editIcon" (click)="editCaption()"></fa-icon>
        </div>
    </ng-template>
    <ng-template #caption_edit_mode>
        <div class="details-caption-container">
            <input (change)="onCaptionChanged()" type="text" [(ngModel)]="editedImage.caption" />
            <button class="btn" (click)="editCaption()">Finish</button>
        </div>
    </ng-template>

    <img [ngClass]="{'hidden': isLocationUnderEdition}" class="details-image" [src]="imageService.fullPath(image)" />
    <app-map [ngClass]="{'hidden': !isLocationUnderEdition}"></app-map>

    <div class="details-bottom-bar">
        <div *ngIf="isCategoriesUnderEdition; then categories_edit_mode else categories"></div>
        <ng-template #categories>
            <div class="details-connected-line">
                <div>{{ categoriesString }}</div>
                <fa-icon class="edit-logo" [icon]="editIcon" (click)="editCategories()"></fa-icon>
            </div>
        </ng-template>
        <ng-template #categories_edit_mode>
            <div class="details-connected-line">
                <fa-icon class="category-edit-icon back-icon" [icon]="backIcon" (click)="editCategories()"></fa-icon>
                <select class="edit-category-select" [ngModel]="selectedCategoryToAdd" (ngModelChange)="onChangeCategory($event)">
                    <option *ngFor="let category of categoriesToAddOptional" [ngValue]="category">
                        {{ category.title }}
                    </option>
                </select>
                <fa-icon class="category-edit-icon add-icon" [ngClass]="{'hidden': !selectedCategoryToAdd}" [icon]="addIcon" (click)="addCategory()"></fa-icon>
            </div>
        </ng-template>

        <div class="details-connected-line">
            <fa-icon class="details-logo" [icon]="starIcon" (click)="editIsFavorite()"></fa-icon>
            <fa-icon class="details-logo" [icon]="lockIcon" (click)="editIsPrivate()"></fa-icon>
            <fa-icon class="details-logo" [ngClass]="{'selected': isLocationUnderEdition}" [icon]="locationIcon" (click)="editLocation()"> </fa-icon>
        </div>
    </div>

    <button class="btn details-save" [disabled]="!isImageEdited" (click)="imageService.saveChanges(editedImage)">
        Save Changes
    </button>
</div>