.row {
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-grid {
    width: 33%;
}

.col-list {
    width: 100%;
}

