.radio-container {
    display: block;
    position: relative;
    padding-left: 1.5em;
    cursor: pointer;
    font-size: 1.2em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1em;
    width: 1em;
    background-color: #eee;
    border-radius: 50%;
}

.radio-container:hover input~.radio-checkmark {
    background-color: var(--primary-light);
    opacity: 0.7;
}

.radio-container input:checked~.radio-checkmark {
    background-color: var(--primary);
}

.radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked~.radio-checkmark:after {
    display: block;
}

.radio-container .radio-checkmark:after {
    top: 0.33em;
    left: 0.33em;
    width: 0.35em;
    height: 0.35em;
    border-radius: 50%;
    background: white;
}