.permitions-view {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.permitions-view button {
    margin-top: 3em;
}