<header>
    <div class="navbar">
        <img class="nav-logo" src="../../../../assets/images/logo.png" (click)="onLogoClick()" height="38"/>
        <div class="navbar-spacer"></div>
        <fa-icon class="navbar-nav" [ngClass]="{'nav-selected': isUserMenuOpen}" [icon]="userIcon" (click)="toggleUserMenu()"></fa-icon>
        <fa-icon class="navbar-nav" [ngClass]="{'nav-selected': isBurgerMenuOpen}" [icon]="barsIcon" (click)="toggleBurgerMenu()"></fa-icon>
    </div>
    <app-menu class='navbar-list' [ngClass]="{'closed': !isUserMenuOpen}" [menuLinks]="userMenuLinks"></app-menu>
    <app-menu class='navbar-list' [ngClass]="{'closed': !isBurgerMenuOpen}" [menuLinks]="burgerMenuLinks"></app-menu>
</header>
