.navbar {
    height: auto;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.8em 2em;
}

.navbar-spacer {
    display: block;
    flex-grow: 1;
}

.navbar-nav {
    margin: 0 10px;
    font-size: 1.6em;
    color: var(--primary-dark);
}

.navbar-list {
    position: absolute;
    top: 3em;
    right: 0;
}

.navbar-nav:hover {
    opacity: 0.8;
    cursor: pointer;
}

.closed {
    display: none
}